{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <main class="main">
    <section class="section">
      <div class="container container--slim">
        <h2 class="section__title">This is a section title</h2>
        <p>This is some text. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section>

    <section class="section section--grey">
      <div class="container container--slim">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <form class="" action="index.html" method="post">
          <div class="form__item grid-no-gtr grid-no-gtr--a-st">
            <input class="input col col-m-8" type="email" name="email" value="" placeholder="Enter your email">
            <button type="submit" name="button" class="btn col col-m-4">Sign up</button>
          </div>
        </form>
      </div>
    </section>

    <section class="section">
      <div class="container container--slim">
        <h2 class="section__title">This is a section title</h2>
        <p>This is some text. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <button type="button" name="button" class="btn btn--load js-btn-load">
          <span>Test</span>
          <div class="btn__container js-btn-load-container">
            <div class="btn__icon btn__icon--tick">
              <svg viewBox="0 0 50 37" xmlns="http://www.w3.org/2000/svg">
                <path id="load-tick" stroke="#fff" stroke-width="6" d="M44 6L19.495 31 6 17.222" fill="none" fill-rule="evenodd" stroke-linecap="square"/>
              </svg>
            </div>

            <div class="btn__icon btn__icon--circle">
              <svg viewBox="0 0 90 90" xmlns="http://www.w3.org/2000/svg">
                <circle id="load-circle" stroke="#fff" stroke-width="10" cx="45" cy="45" r="40" fill="none" fill-rule="evenodd"/>
              </svg>
            </div>
          </div>
        </button>
      </div>
    </section>
  </main>
{% endblock %}
