// Typography
$ff-primary: 'Montserrat', sans-serif;

// Colors
$black: #000;
$white: #FFF;
$grey: lighten($black, 95%);
$body-text: $black;

// Layout
$sp-l: rem(60);
$sp-s: rem(30);

// Grid
$gtr       : rem(30);
$gtr-half  : $gtr / 2;
$gtr-dbl   : $gtr * 2;
$cols      : 12;
$max-width : rem(1440);

$mobileHeaderHeight: rem(87);
$headerHeight: rem(90);

$easeOut: cubic-bezier(0.19, 1, 0.22, 1);
