.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $gtr-half;
  background: $black;
  color: $white;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
}

.btn--load {

}

.btn--icon-only {
  @include accessible-btn;
}

.btn__container {
  display: flex;
  align-items: center;
  position: relative;
  width: rem(20);
  margin-left: $gtr-half;
}

.btn__icon {
  position: relative;
  width: rem(16);
  fill: $white;
}

.btn__icon--search {
  @include svg-ratio(18, 18);
}

.btn__icon--tick {
  width: 100%;
  @include svg-ratio(50, 37);
  position: absolute;
}

.btn__icon--circle {
  width: 100%;
  @include svg-ratio(90, 90);
  position: absolute;
}
