.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $gtr-half;
  background: $black;
  color: $white;
  font-family: $ff-primary;
  text-transform: uppercase;
  border: rem(2) solid $black;
  transition: all 0.1s;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: $black;
  }
}

.btn--load {

}

.btn--icon-only {
  @include accessible-btn;
}

.btn__container {
  display: flex;
  align-items: center;
  position: relative;
  width: 1.25em;

  .btn--load & {
    margin-left: $gtr-half;
  }
}

.btn__icon {
  position: relative;
  width: 100%;
  fill: $white;
}

.btn__icon--search {
  @include svg-ratio(18, 18);

  circle, path {
    transition: all 0.1s;
    stroke: currentColor;
  }
}

.btn__icon--tick {
  @include svg-ratio(50, 37);
  position: absolute;

  path {
    stroke: currentColor;
  }
}

.btn__icon--circle {
  @include svg-ratio(90, 90);
  position: absolute;

  circle {
    stroke: currentColor;
  }
}
