.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $gtr-half;
  background: $black;
  color: $white;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
}
