.input {
  // padding-top: $gtr-half;
  padding-bottom: $gtr-half;
  width: 100%;
  border: none;
  border-bottom: 1px solid $black;
  outline: none;
  background-color: transparent;
  font-family: inherit;
}
