{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}

    <script>
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');
    </script>
  </head>
  <body>
    <!-- For a fixed header add header-is-fixed class to body -->
    {% include './header.html' %}

    {% block content %}{% endblock %}

    {% include './footer.html' %}

    {% block javascript %}
      <script src="javascripts/app.js"></script>
    {% endblock %}
  </body>
</html>
