<footer class="footer">
  <div class="container">
    <div class="grid">
      <div class="col col-s-6">
        <ul class="footer__social social">
          <li class="social__item">
            <a class="social__link" href="#">
              <div class="social__icon social__icon--facebook">{% include "../svg/icon-facebook.svg" %}</div>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#">
              <div class="social__icon social__icon--twitter">{% include "../svg/icon-twitter.svg" %}</div>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#">
              <div class="social__icon social__icon--instagram">{% include "../svg/icon-instagram.svg" %}</div>
            </a>
          </li>
        </ul>
      </div>

      <div class="col col-s-6">
        <h5 class="footer__copyright">&copy;&nbsp;2018 Company</h5>
      </div>
    </div>
  </div>
</footer>
