<footer class="footer">
  <div class="container">
    <div class="grid">
      <div class="col col-s-6">
        <ul class="footer__social social">
          <li class="social__item">
            <a class="social__link" href="#">
              <div class="social__icon social__icon--facebook">{% include "../svg/icon-facebook.svg" %}</div>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#">
              <div class="social__icon social__icon--twitter">{% include "../svg/icon-twitter.svg" %}</div>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#">
              <div class="social__icon social__icon--instagram">{% include "../svg/icon-instagram.svg" %}</div>
            </a>
          </li>
        </ul>

        <h5 class="footer__copyright">&copy;&nbsp;2018 Company</h5>
        <a href="#">Privacy Policy</a>
        <a href="#">Cookies</a>
      </div>

      <form class="col col-s-6">
        <div class="form__item grid-no-gtr grid-no-gtr--a-st">
          <input class="input col col-m-8" type="email" name="email" value="" placeholder="Enter your email">
          <button type="submit" name="button" class="btn col col-m-4">Sign up</button>
        </div>
      </form>
    </div>
  </div>
</footer>
