.footer {
  background-color: $grey;
  padding-top: $gtr;
  padding-bottom: $gtr;
  margin-top: auto;
}

.footer__copyright {
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.footer__details {
  @include flow;
  font-size: 0.9em;
}

.footer__link {
  text-decoration: none;
}
