.footer {
  background-color: $grey;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: auto;
}

.footer__copyright {
  text-transform: uppercase;
  display: inline-block;
}

.footer__social {
  // display: inline-flex;
}

.footer__row {
  // display: flex;
}
