.header {
  padding-top: $gtr-half;
  padding-bottom: $gtr-half;
  background-color: $grey;

  .header-is-fixed & {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.header__search {
  @include media($large-screen-down) {
    display: none;

    // .menu-is-active & {
    //   display: inline-flex;
    //   position: fixed;
    //   top: $mobileHeaderHeight + $gtr;
    //   z-index: 1;
    //   left: $gtr-half;
    //   width: calc(100% - #{$gtr});
    // }
  }

  @include media($large-screen-up) {
    margin-left: $gtr-half;
  }
}
