.section {
  padding-top: $gtr-dbl;
  padding-bottom: $gtr-dbl;

  .container {
    @include flow;
  }

  &--grey {
    background-color: $grey;
  }
}

.section__title {
  text-transform: uppercase;
}
