.search {
  display: flex;
}

.search__btn {
  outline: none;

}

.search__input {
  @include media($medium-screen-down) {
    &::placeholder {
      font-size: 0.8em;
    }
  }

  @include media($medium-screen-up) {
    transition: all 0.2s;
    width: 0;

    &.is-active {
      width: 19em;
    }
  }
}

.search__instructions {
  position: absolute;
  font-size: 0.75em;
  font-weight: 600;
}
