.search {
  display: flex;
}

.search__btn {
  outline: none;

  @include media($large-screen-down) {
    background: none;
    color: $black;
    border: none;
  }
}

.search__input {
  @include media($large-screen-down) {
    width: 0;

    .search-is-active & {
      transition: all 0.2s;
      width: 100%;
    }
  }

  @include media($large-screen-up) {
    transition: all 0.2s;
    width: 0;

    .search-is-active & {
      width: 19em;
    }
  }
}

.search__instructions {
  position: absolute;
  font-size: 0.75em;
  font-weight: 600;
}
